---
import FormattedDate from "./FormattedDate.astro";
import Tags from "./Tags.astro";
const { post } = Astro.props;
const descriptionSplit = post.data.description.split(" ");
---

<div
  class="sm:grid sm:grid-cols-5 gap-1 my-3 sm:pr-2 rounded-md border border-neutral-300 dark:border-neutral-700 justify-start bg-background"
>
  <div class="col-span-2 flex justify-end items-center h-full">
    <img
      src={post.data.heroImage}
      alt={post.data.title}
      class="object-contain h-full rounded-l-md"
    />
  </div>
  <div class="col-span-3 h-full px-2">
    <div class="text-foreground text-2xl my-2">
      <a href={"/blog/" + post.slug}>
        {post.data.title}
      </a>
    </div>
    <div class="text-foreground/80">
      <FormattedDate date={post.data.pubDate} />
    </div>
    <Tags class="text-foreground/80" tags={post.data.tags} />
    <div class="text-foreground/80 my-2">
      {descriptionSplit.slice(0, 20).join(" ")}{" "}
      {descriptionSplit.length > 20 ? "..." : ""}
    </div>
  </div>
</div>
